footer {
    background-color: var(--color-tyrian-purple);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 20px 0px 0px 0px;
}

#github-id,
#linkedin-id,
#stack-overflow-id {
    width: 2em;
    height: auto;
}